/* Styles for the loading screen */

.loading-screen {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-dark);
  z-index: 1000;
  color: var(--color-text-primary);
  font-family: var(--font-main);
}

